body {
    background-image: linear-gradient(to bottom right, rgb(250, 227, 227), pink);
}

.App {
    margin: -10px;
    height: 100vh;
    overflow-y: scroll; 
    overflow-x: hidden;
}


.nav-container{
    display: flex;
    justify-content: space-around;
    background: pink;
    height: 75px;
    width: 100%;
    overflow-x: hidden;
    align-items: center;
}

.mobile-nav-container {
    display: none;
}


.right-side-nav{
    display: flex;
    width: 35%;
}

.right-side-nav > a{
    margin-right: 2%;
}
  
nav a {
    display: inline-block;
    margin: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    transition: 0.1s;
}

nav a:hover,
nav a:active {
    color: white;
    border-bottom: 2px solid rgb(12, 5, 4);
}

nav a.active {
    border-bottom: 2px solid rgb(236, 215, 215);
    color: rgb(22, 18, 18);
}

.home-content{
    text-align: center;
    margin: 10% 7%;
    height: 100vh;

}


.login-signup-page {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    background: pink;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1em;
}

.login-form {
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-form > input {
    width: 50%;
    margin: auto;
    height: 25px;
}


.submit-login-button {
    margin: auto;
    margin-top: 2%;
    border-radius: 10px;
    width: 30%;
    color: white;
    background: radial-gradient(black, transparent);
    font-size: 1.3em;
    text-align: center;
    padding-left: 0;
}

.submit-login-button:hover {
    background: hotpink;
}

.option-last-button {
    margin: auto;
    border: none;
    background: pink;
    font-size: 1em;
}


.login-signup-page > button:hover{
    color: rgb(230, 70, 7);
    cursor: pointer;
}

#add-genre-button{
    cursor: default;
}

#add-genre-button:hover {
    color: red;
}

/* song section css */

.feed-container{
    margin: 10px 8% 0 8%;
    text-align: center;
}

#search-form > input{
    width: 30%;
    height: 30px;
    background: pink;
    color: black;
    font-size: large;
    border: none;
    border-radius: 10px;
}


.song-card {
    display: flex;
    justify-content: space-around;
    margin: 27px 0 10px 0;
    width: 95%;
    background: pink;
    border-radius: 10px;
    padding: 1% 0;
}

.song-card-img > img {
    width: 250px;
    height: 240px;
}

.song-content{
    width: 25%;
}

.title-section{
    display: flex;
    justify-content: space-between;
    width: 155%;
    align-items: center;
}

.right-side{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.right-side > button {
    width: 25%;
    height: 66%;
    font-size: 1.7em;
    margin-top: 10px;
    border: none;
    background: pink
}

.right-side > button:hover {
    font-size: 2.0em;
    background: hotpink;
    border-radius: 60%;
    width: 20%;
}

.comment-feed{
    text-align: right;
    width: 100%;
}

.comment-form > input {
    border: none;
    height: 20px;
    border-radius: 10px;
    margin-right: 3%;
}

.comment-form > button {
    border: none;
    background: white;
    border-radius: 10px;
    padding: 1%;
    cursor: pointer;
}

.comment-form > button:hover {
    color: white;
    background: hotpink;
}

#comment-delete {
    cursor: pointer;
}

#comment-ul{
    list-style: none;
    overflow: scroll;
    height: 85px;
}

#comment-ul > div > span{
    font-size: x-small;
}

#posted-by{
    margin-left: -65%;
}

#posted-by > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#posted-by > a:hover {
    color: red;
}

#cancel-button{
    width: 50px;
}

#cancel-button:hover{
    color: red;
    cursor:default
}

.genre-select{
    width: 20%;
    height: 30px;
    background: pink;
    border: none;
    border-radius: 10px;
}

#genre-name-input {
    margin: 0 10px 0 10px;
    background: pink;
    border: none;
    border-radius: 10px;
    height: 30px;
}

#submit-song-genre-select {
    border: none;
    background: pink;
    height: 30px;
    border-radius: 10px;
    width: 11%;
    margin: 0 10px 0 10px;
}

.new-song-form > label > input {
    margin: 0 10px 0 10px;
    background: pink;
    border: none;
    border-radius: 10px;
    height: 30px;
}

#go-back-button {
    border: none;
    background: pink;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    height: 30px;
    width: 7%;
    margin-left: -888px;
}

#go-back-button:hover {
    color: white;
    background: hotpink;
}

.new-song-form > button {
    border: none;
    background: pink;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    height: 30px;
    width: 7%;
}

.new-song-form > button:hover {
    color: white;
    background: hotpink;
}

.toggle-posted-favorite{
    justify-content: space-around;
    display: flex;
    margin: 5% 0 5% 0;
}

.toggle-posted-favorite > button{
    width: 22%;
    height: 40px;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
}

.toggle-posted-favorite > button:hover {
    color: white;
    background: hotpink;
}

.selected{
    color: white;
    background: pink;
    font-weight: bold;
}

#delete-song-button {
    margin-top: 6%;
    border: none;
    color: red;
    border-radius: 10px;
    height: 25px; 
    margin-left: -220px;
    background: white;
}

#delete-song-button:hover {
    background: hotpink;
    font-weight: bold;
    color: white;
}

.social-outlets {
    width: 100%;
    margin-left: auto;
    position: absolute;
    height: 7%;
    bottom: 0%;
    background: pink;
    overflow-x: hidden;
}

.social-outlets > ul {
    display: flex;
    list-style: none;
    margin-left: 40%;
}

.social-outlets > ul > li {
    margin: 0 5%;
}

.social-outlets > ul > li > a {
    color: black;
    font-size: 1.7em;
}

.social-outlets > ul > li > a:hover {
    color: white;
    cursor: pointer;
    font-size: 1.8em;
    background: hotpink;
}

.mobile-trending {
    display: none;
}

@media screen and (max-width: 800px) {
    #search-form > input {
        width: 70%;
    }
    
    .song-card-img > img {
        width: 97%;
        border-radius: 10px;
        height: 200px;
    }

    .song-card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .song-content {
        width: 95%;
        margin: auto;
    }

    .title-section {
        justify-content: space-between;
        width: 120%;
    }

    .left-side {
        font-size: 0.9em;
    }

    .comment-feed {
        text-align: center;
        width: 98%;
    }

    #comment-ul {
        margin-left: -45px;
    }

    #posted-by {
        margin-left: 0%;
    }

    .login-signup-page {
        width: 95%;
    }

    .right-side {
        width: 47%;
        margin-right: 12%;
    }
    
    .right-side > button {
        margin-right: 5%;
    }

    .right-side > button:hover {
        background: none;
        border-radius: 0px;
    }

    .genre-select {
        width: 75%;
    }

    .toggle-posted-favorite {
        justify-content: space-between;
        display: flex;
        margin: 5% 0 5% 0;
        width: 98%;
    }

    .toggle-posted-favorite > button {
        width: 50%;
        margin: 0 2% 0 2%;
    }

    .new-song-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new-song-form > label > input {
        margin: 2% 0
    }

    #submit-song-genre-select {
        width: 50%;
        margin-bottom: 2%;
    }

    .new-song-form > button {
        width: 50%;
        margin: 1% 0;
    }

    /* Navbar css */

    .nav-container {
        display: none;
    }

    .mobile-nav-container {
        display: flex;
        justify-content: space-between;
        background: pink;
        height: 50px;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
    }

    .right-side-nav{
        display: flex;
        width: 60%;
    }
    
    .right-side-nav > a{
        margin-right: -15px;
    }
      
    nav a {
        display: inline-block;
        margin: 1rem 2rem;
        text-decoration: none;
        font-size: 1.2em;
        color: black;
        transition: 0.1s;
    }
    
    nav a:hover,
    nav a:active {
        color: white;
        border-bottom: 2px solid rgb(12, 5, 4);
    }
    
    nav a.active {
        border-bottom: 2px solid rgb(236, 215, 215);
        color: rgb(22, 18, 18);
    }

    #login-tab {
        margin-left: 100%;
    }

    .mobile-trending {
        display: block;
    }

    .mobile-trending > h4 > a {
        text-decoration: none;
        font-weight: bold;
    }

    .social-outlets {
        position: absolute;
        bottom: -1%;
        width: 100%;
    }


    .social-outlets > ul {
        padding-top: 2%;
        margin: auto;
        margin-left: 30%;
    }
    
}
  